{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ],
    "no-console": "off",
    "no-unused-vars": "warn",
    "no-extraneous-dependencies": "on",
    "quotes": "warn",
    "indent": "warn",
    "comma-dangle": "warn",
    "semi": "warn"
  }
}