.footer {
	max-width: 880px;
	margin: 80px auto 0;
	padding-bottom: 60px;
}

@media screen and (max-width: 1023px) {
	.footer {
		margin: 65px;
	}
}

@media screen and (max-width: 850px) {
	.footer {
		margin: 40px;
	}
}

@media screen and (max-width: 767px) {
	.footer {
		margin: 19px;
		padding-bottom: 36px;
	}
}