.profile__info {
	max-width: 336px;
	min-height: 73px;
	padding: 22px 0 13px 0;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}

@media screen and (max-width: 767px) {
	.profile__info {
		max-width: 282px;
		min-height: 54px;
		margin: 0 0 36px 0;
		padding: 0;
	}
}